<div class="d-flex justify-content-center">
  <%= form_with(model: menu) do |form| %>
    <% if menu.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

        <ul>
          <% menu.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :household_id %>
    <%= form.hidden_field :created_by_id %>
    <%= form.hidden_field :edited_by_id %>

    <div class="mb-3">
      <%= form.label :starts_at, "Week of", class: "form-label" %>
      <%= form.date_field :starts_at, class: "form-control" %>
    </div>

    <div id="recipes" class="row mb-3">
      <%= form.collection_check_boxes(:recipe_ids, @recipes, :id, :name) do |b| %>
        <div class="col">
          <div class="card h-100">
            <% if b.object.picture.representable? %>
              <div
                class="recipe-header"
                style="--bg-img-url: url('<%= url_for(b.object.picture.variant(:thumb)) %>')"
              ></div>
            <% end %>
            <div class="card-body">
              <div class="form-check">
                <%= b.check_box class: "form-check-input" %>
                <%= b.label class: "form-check-label" do %>
                  <%= b.object.name %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex align-items-baseline">
      <%= form.submit nil, class: "btn btn-primary me-3" %>
      <%= link_to "Cancel", menus_path, class: "btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
