<div id="<%= dom_id menu %>" class="mb-5">
  <h5>
    <%= link_to menu do %>
      <% if menu.this_week? %>
        <mark><%= menu.title %></mark>
      <% else %>
        <%= menu.title %>
      <% end %>
    <% end %>
  </h5>
  <div id="recipes" class="row row-cols-1 row-cols-md-3 g-4">
    <% menu.recipes.each do |recipe| %>
      <div class="col">
        <%= render recipe %>
      </div>
    <% end %>
  </div>
</div>
