<div id="<%= dom_id menu %>">
    <h2>
      <%= link_to menu do %>
        <% if menu.this_week? %>
          <mark><%= menu.title %></mark>
        <% else %>
          <%= menu.title %>
      <% end %>
    </h2>
  <% end %>

  <div id="recipes" class="d-flex">
    <% menu.recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  </div>
</div>
