<div id="menus">
  <% if @menus.present? %>
    <div class="d-flex justify-content-between mb-3">
      <div class="btn-group">
        <%= link_to "Current menus", menus_path, class: "btn btn-#{params[:past_menus].present? ? "outline-primary" : "primary active"}" %>
        <%= link_to "Past menus", menus_path(past_menus: 1), class: "btn btn-#{params[:past_menus].present? ? "primary active" : "outline-primary"}" %>
      </div>
      <%= link_to new_menu_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        New menu
      <% end %>
    </div>
    <% @menus.each do |menu| %>
      <div class="mb-5">
        <%= render menu %>
      </div>
    <% end %>
  <% else %>
    <div class="p-5 my-5 bg-light rounded-3 text-center">
      <div class="container-fluid py-5">
        <h3 class="text-muted">Uh oh! You don't have any menus, yet.</h3>
        <%= link_to "Get started", new_menu_path, class: "btn btn-primary me-3" %>
      </div>
    </div>
  <% end %>
</div>
