<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :household do |household_fields| %>
    <div class="mb-3">
      <%= household_fields.label :name, "Household name" %>
      <%= household_fields.text_field :name %>
    </div>
  <% end %>

  <%= render "fields", form: form %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
