<header class="mb-3">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Dinners", root_url, class: "navbar-brand" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Menus", menus_path, class: "nav-link #{current_page?(menus_path) && "active"}" %></li>
            <li class="nav-item"><%= link_to "Recipes", recipes_path, class: "nav-link #{current_page?(recipes_path) && "active"}" %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", bs_toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
                <%= image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded" %>
              <% end %>
              <div id="nav-account-dropdown" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
                <%= link_to "Profile", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Household", household_path(current_household), class: "dropdown-item" %>
                <%# <% if current_user.admin? && respond_to?(:madmin_root_path) %1> %>
                  <%#   <div class="dropdown-divider"></div> %>
                  <%#   <%= link_to "Admin Area", madmin_root_path, class: "dropdown-item" %1> %>
                  <%# <% end %1> %>
                <div class="dropdown-divider"></div>
                <%= button_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Sign up", sign_up_path, class: "nav-link #{current_page?(login_path) && "active"}" %></li>
            <span class="navbar-text">|</span>
            <li class="nav-item"><%= link_to "Login", login_path, class: "nav-link #{current_page?(login_path) && "active"}" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
