<h1>Create your account</h1>
<%= form_with(model: @invitation) do |form| %>
  <% if @invitation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% @invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :token %>

  <%= form.fields_for :user, @invitation.user do |user_form| %>
    <%= user_form.hidden_field :household_id %>
    <%= render "users/fields", form: user_form %>
  <% end %>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>
