<p style="color: green"><%= notice %></p>

<%= render @dinner %>

<div>
  <%= link_to "Edit this dinner", edit_dinner_path(@dinner) %> |
  <%= link_to "Back to dinners", dinners_path %>

  <%= button_to "Destroy this dinner", @dinner, method: :delete %>
</div>
