<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render partial: "shared/nav" %>
    <%= render partial: "shared/notices" %>

    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <p>Made with ❤️ by @bweave ©<%= Time.current.year %></p>
      </div>
    </footer>
  </body>
</html>
