<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Dinners</h1>
      <p>A handy helper for a weekly recipe menu!</p>
      <nav>
        <%= link_to "Home", root_url %>
        <%= link_to "Create Menu", new_menu_path %>
        <%= link_to "Recipes", recipes_path %>
        <%= link_to "Add Recipe", new_recipe_path %>
      </nav>
    </header>

    <main>
      <% flash.each do |msg_type, message| %>
        <div class="flash <%= msg_type %>" role="alert">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <p>Made with ❤️ by @bweave ©<%= Time.current.year %></p>
    </footer>
  </body>
</html>
