<!DOCTYPE html>
<html>
  <head>
    <title>Dinners</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Dinners</h1>
      <p>A handy helper for a weekly dinner menu!</p>
      <nav>
        <a href="/">Dinners</a>
        <a href="/suggestions">Suggestions</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Made with ❤️ by @bweave ©<%= Time.current.year %></p>
    </footer>
  </body>
</html>
