<div class="row justify-content-center mb-3">
  <div class="col-8">
    <%= turbo_frame_tag @household do %>
      <div class="d-flex align-items-baseline">
        <h1><%= @household.name %></h1>
        <%= link_to edit_household_path(@household), class: "btn btn-link text-success" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div>
    <% end %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @household.users.each_with_index do |user, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
