<div class="row justify-content-center mb-3">
  <div class="col-8">
    <%= turbo_frame_tag @household do %>
      <div class="d-flex align-items-baseline">
        <h1><%= @household.name %></h1>
        <%= link_to edit_household_path(@household), class: "btn btn-link text-success" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </div>
    <% end %>
    <% if @household.users.excluding(current_user).present? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @household.users.excluding(current_user).each_with_index do |user, i| %>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= user.name %></td>
              <td>
                <%= button_to user_path(user), method: :delete, class: "btn btn-link text-danger" do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="p-5 my-5 bg-light rounded-3 text-center">
        <div class="container-fluid py-5">
          <h3 class="text-muted">Looks like it's just you right now.</h3>
          <p class="lead">Feel free to add members to your household.</p>
        </div>
      </div>
    <% end %>
    <%= turbo_frame_tag :new_invitation do %>
      <%= render "new_invitation" %>
    <% end %>
  </div>
</div>
